body {
  background-color: #ececec;
}

.home-container {
  margin: 15vh;
  margin-top: 0px;
  padding: 10vh;
}

.articles-container {
  display: flex;
  justify-content: space-between;
}

.articles_main {
  width: 50%;
  margin-right: 10vh;
  margin-top: 10vh;
  margin-right: 10vh;
}

.articles_others {
  width: 50%;
  margin-top: 10vh;
}
