<div class="big-card-container">
  <a href="">
    <div class="big-card-photo">
      <img src="../../../assets/img/thumb_article41.jpg" alt="">
    </div>
    <div class="big-card-title">
      <small>Marco 24, 2024</small>
      <h1>Empresa de Tecnologia Lança Óculos de Realidade Aumentada com Recursos Avançados</h1>
    </div>
    <div class="big-card-description">
      <p>A empresa de tecnologia líder no mercado acaba de lançar seu mais recente produto: um par de óculos de realidade
        aumentada que promete revolucionar a forma como interagimos com o mundo digital.</p>
    </div>
  </a>
</div>