.menu-title-container {
  color: white;
}

.menu-title-container h1 {
  color: white;
  background-color: #121212;
  font-size: 14em;
  font-weight: 700;
  text-align: center;
  font-family: "Segoe UI";
  text-wrap: nowrap;
}
h1{
  border-bottom: 1px solid rgb(236, 236, 236, .2);
  border-top: 1px solid rgb(236, 236, 236, .2);
}