.small-card-container {
  display: flex;
  margin-bottom: 5vh;
}
.small-card-photo {
  width: 100%;
  margin-right: 5vh;
}
.small-card-photo img {
  width: 100%;
  height: 100%;
}
.small-card-title small {
  font-weight: normal;
  font-size: 11px;
  line-height: 11px;
  color: #ffffff;
  opacity: 0.3;
  letter-spacing: 0.5px;
  padding: 4px 0px 10px;
}
.small-card-title h1 {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 0.8;
}
.small-card-container-border{
  border-bottom: 2px solid rgb(236, 236, 236, .2);
  margin-bottom: 5vh;
}

