<div class="content-container">
  <app-menu-bar></app-menu-bar>
  <div class="content-header">
    <img src={{photoCover}} alt="">
    <div class="content-title">
      <h1>{{ title }}</h1>
      <small>{{publicationDate}}</small>
    </div>
  </div>
  <div class="content-main">
    <div [innerHTML]="content" class="content-body">
      
    </div>
    <div class="others-articles">
      <app-small-card *ngFor="let card of cardsData; let i = index" [orientation]="'vertical'"
    [id]="card.id" [title]="card.title" [publicationDate]="card.publicationDate"
    [photoCover]="'../../../assets/img/' + card.photo">
  </app-small-card>
    </div>
  </div>
</div>