
.menu-title-container{
    margin-left: 5vh;
    margin-right: 5vh;
}
.articles-container{
    display: flex;
    justify-content: space-between;
    margin-top: 10vh;
    margin-left: 10vh;
    margin-right: 10vh;
}
.articles_main{
    width: 50%;
    margin-right: 10vh;
}
.articles_others {
    width: 50%;
}