<div class="nav-bar-container">
    <div class="menu-container">
      <a [routerLink]="['']" ><img class="logo" src="../../../assets/img/logo.png"></a> 
      <a [routerLink]="['']" >Learn</a>
      <a [routerLink]="['']" >Shortcut</a>   
  
      <a [routerLink]="['']" class="a_menudesktop active">Blog</a>                   
      <a [routerLink]="['']">Bookmarks</a>
      <a [routerLink]="['']">UI Kit</a>     
      <a [routerLink]="['']">FAQ</a>
      <a [routerLink]="['']" id="menulain">Lain nya</a>  
  
      <!--<div class="menulaindropdown">
          <a [routerLink]="['']" style="border:0px;">Meetup</a>
          <a [routerLink]="['']">Challenge</a>
          <a [routerLink]="['']">Playlists</a>
          <a [routerLink]="['']">Books</a>
          <a [routerLink]="['']">Journal</a>
      </div>-->
  
    </div>
      <div class="link-social-media">
        <a [routerLink]="['']" class="social-icon"><img src="../../../assets/img/icon_twitter.svg"></a>
        <a [routerLink]="['']" class="social-icon"><img src="../../../assets/img/icon_instagram.svg"></a>
        <a [routerLink]="['']" class="social-icon"><img src="../../../assets/img/icon_dribbble.svg"></a>
        <a [routerLink]="['']" class="social-icon"><img src="../../../assets/img/icon_medium.svg"></a>
        <!--<a id="showmenumobile" class="a_menumobile" [routerLink]="['']"><img src="../../../assets/img/icon_burger_white.svg"></a>-->
    </div>
  </div>