<div class="nav-bar-container">
    <div class="menu-container">
      <a href="#" ><img class="logo" src="../../../assets/img/logo.png"></a> 
      <a href="#" >Learn</a>
      <a href="#" >Shortcut</a>   
  
      <a href="#" class="a_menudesktop active">Blog</a>                   
      <a href="#">Bookmarks</a>
      <a href="#">UI Kit</a>     
      <a href="#">FAQ</a>
      <a href="#" id="menulain">Lain nya</a>  
  
      <!--<div class="menulaindropdown">
          <a href="#" style="border:0px;">Meetup</a>
          <a href="#">Challenge</a>
          <a href="#">Playlists</a>
          <a href="#">Books</a>
          <a href="#">Journal</a>
      </div>-->
  
    </div>
      <div class="link-social-media">
        <a href="#" class="social-icon"><img src="../../../assets/img/icon_twitter.svg"></a>
        <a href="#" class="social-icon"><img src="../../../assets/img/icon_instagram.svg"></a>
        <a href="#" class="social-icon"><img src="../../../assets/img/icon_dribbble.svg"></a>
        <a href="#" class="social-icon"><img src="../../../assets/img/icon_medium.svg"></a>
        <!--<a id="showmenumobile" class="a_menumobile" href="#"><img src="../../../assets/img/icon_burger_white.svg"></a>-->
    </div>
  </div>